/*! == GLOBAL == */
html {
  font-size: 18px;
}

html,
body {
  min-height: 100vh;
  margin:0;
  padding: 0;
}

body {
  background: $brand-sand;
  font-family: $primary-font;
  font-size: 1rem;
  color: hsl(69, 2%, 31%);
}

p {
  font-weight: 300;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
    color: $brand-pink;
    transition:color 0.3s ease;
    &:hover {
        text-decoration: none;
        color: $brand-dark-sand;
    }
}

img {
    max-width: 100%;
}

.heading-primary {
    font-weight: 400;
    &__caps {
        text-transform: uppercase;
        letter-spacing: 0.15em;
    }
    &__light {
        color: white;
    }
    &__xl {
        font-size: 3em;
    }
    &__lg {
        font-size: 2.5em;
    }
    &__md {
        font-size: 1.5em;
    }
    &__sm {
        font-size: 1em;
    }
    &__xs {
        font-size: 0.75em;
    }
    &__bold {
        font-weight: 900;
    }
}

.heading-secondary {
  font-family: $secondary-font;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  &__xl {}
  &__lg {}
  &__md {}
  &__sm {
    font-size: 1em;
  }
  &__xs {
    font-size: 0.6em;
  }
}

.vertical-center {
    align-self: center;
}

.mb0{
  margin-bottom: 0 !important;
}

.mb05{
  margin-bottom: 0.5em !important;
}

.mb1{
  margin-bottom: 1em !important;
}

.mb2{
  margin-bottom: 2em !important;
}

.mb3{
  margin-bottom: 3em !important;
}

.mt1 {
  margin-top:1em !important;
}

.mt2 {
  margin-top:2em !important;
}

.mt3 {
  margin-top:3em !important;
}

.text-center {
  width: 100%;
  text-align: center;
}


/*===========HEADER==========*/

.loading {
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
}



.site-wrapper {
    position: relative;
}

header {
    position: fixed;
    display: grid;
    width: 100%;
    z-index: 1000;
}

.header-inner {
    position: relative;
    display: block;
    width:100%;
    padding: 0.5em 0;
    z-index: 500;
    background: $brand-sand;
    transition:background 0.5s ease;
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__contact {
        align-self: center;
        p {
            margin-bottom: 0;
            line-height: 1.2em;
            font-size: 0.8em;
            font-weight: 500;
            color: white;
        }
    }
    &__brand {
        text-align: center;
        img {
            width: 150px;
            opacity: 0.7;
            transition: all 0.3s ease;
        }
    }
    &__trigger {
        text-align: right;
        align-self: center;
    }
}

.navigation {
    position: relative;
    margin-top: -5em;
    z-index: 250;
    width: 100%;
    opacity: 0;
    border-bottom: 1px solid hsl(353, 72%, 70%);
    background: hsl(71, 9%, 79%);
    transition:margin-top 1s ease, background 0.5s ease, opacity 0.5s ease;
    &.reveal {
        top:100%;
    }
}

.main-menu {
    ul {
        display: grid;
        grid-template-columns: repeat(6, auto);
        margin: 1em 0;
        padding: 0;
        text-align: center;
        list-style: none;
    }
    a {
        text-transform: uppercase;
        letter-spacing: 0.09em;
        color: $brand-dark-sand;
        transition:color 0.5s ease;
        font-size: 0.9em;
        &:hover {
            color: $brand-pink;
            text-decoration: none;
        }
    }
    .current_page_item > a {
        color: $brand-pink;
        text-decoration: none;
    }
}

.scrolled {
    .header-inner {
        border-bottom: 1px solid $brand-pink;
    }
    .header-inner__brand img {
        width:90px;
    }
}

.menuOpen {
    .header-inner {
        border:none !important;
    }
    .navigation {
        margin-top: -2px;
        opacity: 1;
    }
}

.transparent {
    .header-inner,
    .navigation {
        background:transparent;
        border:none;
    }
}

.transparent.scrolled {
    .header-inner,
    .navigation {
        background:$brand-sand;
        border-bottom: 1px solid $brand-pink;
    }
    .navigation {
        background: hsl(71, 9%, 79%);
    }
}

/*===========BODY==========*/

main {
    padding-top:5em;
}

.home + main {
    padding-top:0;
}

/*===========FOOTER==========*/

.footer-cta {
    @include backgroundCover;
    height: 20em;
    margin: 3px;
    padding: 2em;
    text-align: center;
}

.socket {
    width:100%;
    padding:1em 0 ;
    font-size: 0.75em;
    i {
      margin-right: 1em;
    }
    &__colophon {
      text-align: right;
      a {
        margin-left:0.5em;
        padding-left:0.5em;
        border-left:1px solid grey;
      }
    }
  }
