/*! == MEDIA QUERIES == */

/*===========LARGE (1200px)==========*/

@media only screen and (max-width: 1200px) {
/*body:before {
  content: 'LARGE';
  position: fixed;
  z-index: 9999;
  top:0;
}*/
 /*---GLOBALS---*/ 

/*---HEADER---*/ 

/*---CONTENT---*/

/*---FOOTER---*/

}/*---end large mq---*/


/*===========MEDIUM (992px)==========*/

@media only screen and (max-width: 992px) {
/*  body:before {
    content: 'MEDIUM';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/
  
 /*---GLOBALS---*/ 
 
 /*---HEADER---*/

/*---CONTENT---*/

/*---FOOTER---*/
  
}/*---end medium mq---*/



/*===========SMALL (768px)==========*/

@media only screen and (max-width: 768px) {
/*  body:before {
    content: 'SMALL';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/

/*---GLOBALS---*/

/*---HEADER---*/

/*---CONTENT---*/
  
/*---FOOTER---*/


}/*---end small mq---*/


/*===========EXTRA SMALL (576px)==========*/

@media only screen and (max-width: 576px) {
/*  body:before {
    content: 'EXTRA SMALL';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/
  
/*---GLOBALS---*/

/*---HEADER---*/


/*---CONTENT---*/


/*---FOOTER---*/
  
}/*---end extra small mq---*/

