/*! == VARIABLES == */

$brand-pink: hsl(353, 71%, 70%);
$brand-grey: hsl(72, 3%, 38%);
$brand-sand: hsl(71, 15%, 86%);
$brand-light-sand: hsl(71, 16%, 91%);
$brand-dark-sand: hsl(71, 3%, 46%);

$primary-font: 'benton-modern-display', serif;
$secondary-font: 'iskra', sans-serif;


$fastEffect: all .5s ease;
$slowEffect: all 1s ease;
